* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.second-page {
  height: 100vh;
  background-image: url("https://www.hartmann.info/en-corp/-/media/corporate-news/stage/coronavirus_header_header-(003).jpg?la=en-TT&h=725&w=1440&mw=1440&hash=FA6C93681FAF12A50F462D1C1DB39137");
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  height: 10%;
  text-align: center;
}

.main {
  display: flex;
  height: 90%;
}

#two {
  width: 60%;
  height: 100%;
}

#one {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: max-content;
  margin: 50px 15px 5px 15px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.432);
}

#country_name {
  text-align: center;
  font-size: 2.5em;
  color: white;
}

/* fonts */
h3 {
  font-size: 1.5em;
  color: white;
}
h2,
h4 {
  font-family: "Shadows Into Light", cursive;
}
h4 {
  font-size: 1.4em;
}
p {
  font-size: 1.1em;
}

/* container tests conducted */
.tests-info {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.tests-info > p {
  margin-left: 10px;
  font-size: 1.1em;
}

/* container for cases */
.case-container {
  border-radius: 5px;
  height: max-content;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.432);
}

.countries-info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

/* info and links to other pages */
.links {
  display: flex;
}
.links-pic {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
}
.links-info {
  width: 65%;
}
.links-text {
  font-family: "Shadows Into Light", cursive;
  font-size: 1.5em;
  font-weight: bold;
}

/* img links */
@keyframes swing {
  15% {
    transform: translateX(7px);
  }
  30% {
    transform: translateX(-7px);
  }
  50% {
    transform: translateX(4px);
  }
  65% {
    transform: translateX(-4px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

img {
  width: 55px;
  height: 55px;
  animation: swing 2s ease-in-out;
  animation-iteration-count: 1;
}

/* globe */
path {
  fill: grey;
  stroke: black;
  stroke-width: 1.5px;
  cursor: pointer;
}

path:hover {
  fill: orange;
}
