* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(36, 31, 31);
  color: white;
  font-family: "Karma", serif;
}

.app {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* ---map container--- */
#map-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  position: relative;
  align-items: center;
  margin-top: 15px;
  /* display: none; */
}

.radio-text {
  /* color: white; */
  /* font-size: 1.2em; */
  display: inline-block;
}

.world-map-title {
  text-align: center;
}

.map-title {
  font-size: 2em;
  color: gray;
}

.map-hint-text {
  color: gray;
  font-style: italic;
}

.symptoms {
  color: gray;
  font-style: italic;
}
#symptom1 {
  position: absolute;
  left: 90%;
  top: 5%;
  transform: rotate(-80deg);
}
#symptom2 {
  position: absolute;
  left: 90%;
  top: 30%;
  transform: rotate(-50deg);
}
#symptom3 {
  position: absolute;
  left: 90%;
  top: 45%;
  transform: rotate(-10deg);
}
#symptom4 {
  position: absolute;
  left: 90%;
  top: 60%;
  transform: rotate(30deg);
}
#symptom5 {
  position: absolute;
  left: 90%;
  top: 75%;
  transform: rotate(10deg);
}
/* -------------------------------- */

/* ---globe container--- */
#globe-container {
  display: flex;
  width: 80%;
  display: none;
}

#two {
  width: 60%;
  height: 100%;
}

#one {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  margin: 100px 25px 0px 5px;
}

#country_name {
  text-align: center;
  font-size: 2.5em;
}

/* container tests conducted */
.tests-info {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.tests-info > p {
  margin-left: 10px;
  font-size: 1.1em;
  font-style: italic;
  color: gray;
}

/* container for cases */
.upper-case-container {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
}

#first-upper-case {
  width: 50%;
  margin-right: 2.5px;
}

#second-upper-case {
  width: 50%;
  margin-left: 2.5px;
}

#bottom-case {
  margin: auto;
  width: 50%;
}

.case-container {
  border-radius: 5px;
  text-align: center;
  border: 1px dotted gray;
}

.info-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  position: relative;
}

h3 {
  color: gray;
}
/* ---------------------------- */

/* ---toggle button--- */
.switch-button {
  position: relative;
  height: 50%;
}

#symptom6 {
  position: absolute;
  left: 10%;
  top: 80%;
  transform: rotate(10deg);
}
#symptom7 {
  position: absolute;
  left: 5%;
  top: 10%;
  transform: rotate(-10deg);
}

.toggle-text {
  position: absolute;
  width: 100%;
  top: 25%;
  /* color: gray; */
  font-size: 1.1em;
  /* div doesnt take up all the available horizontal space when absolutely positioned */
  /* for text alignment - width: 100% */
  text-align: center;
}

.toggle-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid grey;
  border-radius: 5px;
}

#toggle-button {
  position: relative;
  width: 80px;
  height: 120px;
  background-color: rgb(36, 31, 31);
  cursor: pointer;
  padding: 5px;
}

.toggle-inner {
  width: 70px;
  height: 50px;
  background-color: rgb(14, 12, 12);
  border-radius: 5px;
  background-color: teal;
}

#toggle-button.active > .toggle-inner {
  margin-top: 60px;
}

#first {
  position: absolute;
  left: 50%;
  top: 25px;
  transform: translate(-50%, -50%);
}
#second {
  position: absolute;
  left: 50%;
  top: 85px;
  transform: translate(-50%, -50%);
}

/* ---info and links to other pages--- */
.links {
  position: relative;
}

#symptom8 {
  position: absolute;
  left: -15%;
  top: 110%;
  transform: rotate(10deg);
}
.links-pic {
  display: flex;
  width: 80%;
  justify-content: center;
}

.link-img {
  margin: 0px 10px;
}

.links-info {
  margin: 15px;
  width: 75%;
}
.links-text {
  font-size: 1.2em;
  font-style: italic;
}

img {
  width: 55px;
  height: 55px;
}

/* map styling */
.mapOcean {
  fill: rgb(199, 219, 241);
}
path {
  stroke: rgb(49, 48, 48);
  /* stroke-width: 0.5px; */
  stroke-width: 1px;
  cursor: pointer;
  opacity: 0.8;
}
